@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
$textFont: "Montserrat", sans-serif;
$fontSize: 16px;

$white: #ffffff;
$black: #000000;
$gray: #555555;
$lightGray: #f7f8f9;
$green: #6dbe44;
$cream: #dfd99d;
$lightBlue: #04a9f4;

$transition: 0.3s ease;

$boxShadow: 0 0px 10px 0px rgba($black, 0.7);

$py: 100px 0;
$width: 100%;
