@import "var";
@import "mixins";
@import "basic";
/* GLOBAL */
hr {
  margin: 0;
  width: 100%;
  height: 5px;
  border: none;
  background: linear-gradient(to right, $green, $cream, $lightBlue);
  box-sizing: border-box;
  &.divider {
    border-top: 1px solid rgba($darkGray, 0.4);
    border-bottom: 1px solid rgba($darkGray, 0.4);
    background: transparent;
    height: 3px;
  }
}
h1 {
  font-size: 3rem;
  color: $lightBlue;
  margin-bottom: 0.5em;
}
h2 {
  color: $darkGray;
  font-size: 3rem;
}
.overlineTitle {
  text-align: center;
  &::before {
    content: "";
    display: block;
    margin: 0 auto 30px;
    width: 150px;
    height: 3px;
    border: none;
    background: linear-gradient(to right, $green, $cream, $lightBlue);
  }
}

.btnMore {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 30px;
  border: 1px solid $darkGray;
  transition: $transition;
  &:hover {
    background-color: $lightBlue;
    color: $white;
  }
}

.zoomIn {
  overflow: hidden;
  img {
    transition: $transition;
    cursor: pointer;
    height: 100%;
    width: 100%;
    object-fit: cover;
    &:hover {
      transform: scale(110%);
      opacity: 0.8;
    }
  }
}

.widget {
  padding: 30px;
  background: $lightGray;
  margin-bottom: 30px;
  margin-left: 20px;
  @media (max-width: 768px) {
    margin: 20px 0 0;
  }
  h5 {
    border-bottom: 1px solid $green;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  li {
    line-height: 2;
  }
}

.social {
  // width: 40px;
  position: fixed;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  div {
    // height: 40px;
    text-align: center;
    color: $white;
    transition: $transition;
    cursor: pointer;

    &:hover {
      transform: translateX(-25%);
      opacity: 0.8;
    }
  }
  a {
    padding: 0.8em;
    display: block;
    &:hover {
      color: $white;
    }
  }
  &-fb {
    background-color: $darkBlue;
  }
  &-inst {
    background-color: $purple;
  }
  &-yt {
    background-color: $red;
  }
}

/* NAV */
.navbar {
  .nav-item {
    margin-left: 30px;
    @media (max-width: 991px) {
      margin: 0px;
      padding: 20px;
    }
    &:first-child {
      margin-left: 0;
    }
    .nav-link {
      transition: $transition;
      font-weight: 600;
      &:hover {
        color: $darkBlue;
      }
    }
  }
}

/* HEADER */
.header {
  @include bgBasic;
  background-color: $lightGray;
  h1 {
    color: $darkGray;
    padding: 15px 0;
    font-size: 2.5rem;
  }
  &-home {
    background-image: url("../img/header1.webp");
    height: 50vh;
    h1 {
      font-size: 2rem;
      background-color: rgba($cream, 0.5);
      padding: 30px;
      border-radius: 20px;
      box-shadow: 0 0 10px 0px $cream;
      text-shadow: 0 0 2px $black;
      color: $white;
    }
  }

  img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }
}

/* EXPLORE */
.explore {
  article {
    margin-top: 30px;
    .col-md-6 {
      flex: 0 0 48%;
      box-shadow: $boxShadow;
      position: relative;
      margin-bottom: 40px;
      height: 300px;
      transition: $transition;
      cursor: pointer;
      @media (max-width: 768px) {
        flex: 0 0 100%;
      }
      &:hover {
        box-shadow: 0 0px 20px 0px rgba($black, 0.99);
      }
      img {
        height: 100%;
        width: 100%;
      }
      h5 {
        margin: 0;
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: $lightBlue;
        background-color: $white;
        padding: 10px;
        text-shadow: 0 0 2px $darkGray;
        font-size: 1.5rem;
      }
    }
  }
  &-posts {
    .col-md-4 {
      flex: 0 0 31%;
      max-width: 31%;
      border: transparent;
      border-bottom: 2px solid $gray;
      border-radius: 0;
      @media (max-width: 768px) {
        flex: 0 0 100%;
      }
      .card-body {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

/* EVENTS */
.events {
  &-index {
    background-color: $lightGray;
  }
  .row {
    margin-top: 30px;
  }
  .col-md-4 {
    border: none;
    outline: none;
    flex: 0 0 31%;
    box-shadow: $boxShadow;
    @media (max-width: 768px) {
      flex: 0 0 100%;
      margin-bottom: 20px;
    }
  }
}

/* BLOG */
.blog {
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  p {
    a {
      color: $lightBlue;
    }
  }
}

/* SINGLE BLOG */
.singleBlog {
  article {
    background-color: $lightGray;
    div {
      padding: 40px;
    }
    p {
      line-height: 2;
      text-align: justify;
    }
    .meta {
      a {
        color: $lightBlue;
      }
    }
  }
  img {
    width: 100%;
  }
}

/* EVENT POST */
.eventPost {
  @extend .singleBlog;
  article {
    background-color: transparent;
    h3 {
      margin-bottom: 20px;
    }
    h5 {
      margin: 15px 0;
    }
    div {
      padding: 40px 0;
    }
    ul {
      li {
        line-height: 2;
        &::before {
          content: "\f00c";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          margin-right: 10px;
        }
      }
    }
  }
}

/* FOOTER */
footer {
  background-image: linear-gradient(rgba($black, 0.75), rgba($black, 0.75)),
    url("../img/footer.jpg");
  @include bgBasic;
  color: $white;
  h3 {
    margin-bottom: 30px;
  }
  p {
    line-height: 1.6;
  }

  ul {
    li {
      line-height: 2.5;
    }
  }
}

/* CONTACT */
.contact {
  iframe {
    width: 100%;
  }
  textarea {
    resize: none;
  }
}
