@import "var";
@import "mixins";
@import "basic";
/* GLOBAL */
hr {
  margin: 0;
  width: 100%;
  height: 5px;
  border: none;
  background: linear-gradient(to right, $green, $cream, $lightBlue);
  &.divider {
    border-top: 1px solid rgba($gray, 0.4);
    border-bottom: 1px solid rgba($gray, 0.4);
    background: transparent;
    height: 3px;
  }
}

h1 {
  font-size: 3rem;
  color: $lightBlue;
  margin-bottom: 0.5em;
}
h2 {
  color: $gray;
  font-size: 3rem;
}
.overlineTitle {
  text-align: center;
  &::before {
    content: "";
    display: block;
    margin: 0 auto 30px;
    width: 150px;
    height: 3px;
    border: none;
    background: linear-gradient(to right, $green, $cream, $lightBlue);
  }
}
/* NAV */
.navbar {
  .nav-item {
    margin-left: 30px;
    &:first-child {
      margin-left: 0;
    }
  }
}

/* HEADER */
.header {
  height: 50vh;
  @include bgBasic;

  &-home {
    background-image: url("../img/header1.webp");
    h1 {
      font-size: 2rem;
      background-color: rgba($cream, 0.5);
      padding: 30px;
      border-radius: 20px;
      box-shadow: 0 0 10px 0px $cream;
      text-shadow: 0 0 2px $black;
      color: $white;
    }
  }
  &-explorer {
    background-image: url("../img/izleti.webp");
  }
  &-events {
    background-image: url("../img/dogadjanja.webp");
  }
}

/* EXPLORE */
.explore {
  article {
    margin-top: 30px;
    .col-md-6 {
      flex: 0 0 48%;
      box-shadow: $boxShadow;
      position: relative;
      margin-bottom: 40px;
      height: 300px;
      transition: $transition;
      cursor: pointer;
      &:hover {
        box-shadow: 0 0px 20px 0px rgba($black, 0.99);
      }
      img {
        height: 100%;
        width: 100%;
      }
      h5 {
        margin: 0;
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: $lightBlue;
        background-color: $white;
        padding: 10px;
        text-shadow: 0 0 2px $gray;
        font-size: 1.5rem;
      }
    }
  }
}

/* EVENTS */
.events {
  &-index {
    background-color: $lightGray;
  }
  .row {
    margin-top: 30px;
  }
  .col-md-4 {
    border: none;
    outline: none;
    flex: 0 0 31%;
    box-shadow: $boxShadow;
    div {
      overflow: hidden;
    }
    img {
      transition: $transition;
      cursor: pointer;
      &:hover {
        transform: scale(110%);
      }
    }
    a {
      display: inline-block;
      margin-top: 10px;
      padding: 10px 30px;
      border: 1px solid $gray;
    }
  }
}

/* FOOTER */
footer {
  background-image: linear-gradient(rgba($black, 0.75), rgba($black, 0.75)),
    url("../img/footer.jpg");
  @include bgBasic;
  color: $white;
  h3 {
    margin-bottom: 30px;
  }
  p {
    line-height: 1.6;
  }

  ul {
    li {
      line-height: 2.5;
    }
  }
}
